[Unit]
Description=Periodic Monitor for Git Docker Compose

[Timer]
OnBootSec=5min
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
