[Unit]
Description=Periodic Monitor for GitHub Compose (%i)

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
